body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: PokemonGB;
  src: url('./PokemonGB.ttf');
}

div {
  font-family: PokemonGB;
}

input[type="text"]
{
    font-family: PokemonGB;
}

input[type="email"]
{
    font-family: PokemonGB;
}

input[type="password"]
{
    font-family: PokemonGB;
}